@import './header.css';
@import './navbar.css';


button {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}


@media (hover:hover) {
    button {
        cursor: pointer;
    }
}