:root {
    --padding: 12px;
}


header {
    padding: 10px 1.5rem;
    display: flex;
    width: 100%;
    background: linear-gradient(to left, rgb(59, 3, 3), rgb(7, 7, 72));
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.searchResults {
    width: clamp(300px, 60%, 350px);
    height: 350px;
    overflow-y: auto;
    position: absolute;
    top: 60px;
    transform: translateX(-45%) scale(0);
    left: 50%;
    background: rgb(43, 43, 44);
    z-index: 111;
    display: flex;
    flex-direction: column;
    transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}


.cancel--search {
    color: #fff;
    font-size: 1.1rem;
    margin-right: 5px;
}

.searchResults span {
    flex: 1;
    padding: 15px 12px;
}


.searchResults.show {
    transform: translateX(-45%) scale(1);
}

.menu--header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo h1 {
    font-size: 1.6rem;
}


.search--container {
    display: flex;
    border: 1px solid #ccc;
    width: clamp(280px, 70%, 500px);
    border-radius: 30px;
}

.search--container>input {
    padding: var(--padding);
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    flex: 1;
}

.search-input::placeholder {
    color: #fff;
}


.search--btn {
    border: none;
    outline: none;
    margin-left: auto;
    padding: var(--padding) 20px;
    font-size: 15px;
    background: linear-gradient(to left, rgb(192, 148, 246), rgb(249, 145, 145));
    border-radius: 0 30px 30px 0;
    transition: 0.3s linear;
}


.header-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.header-info>img {
    border-radius: 50px;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    header {
        padding: 10px;
        gap: 1rem;
    }

    .logo {
        font-size: 1.7rem;
    }

    .search--container {
        width: 100%;
        max-width: 300px;
    }

    .logo>h1 {
        display: none;
    }

    .header-info {
        display: none;
    }
}

@media (hover:hover) {
    .search--btn:hover {
        background: #535252;
        color: #fff;
    }

    .searchResults span:hover {
        background: #cccccc5e;
    }

    .searchResults span {
        cursor: pointer;
    }

}