.search--component {
    display: grid;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    grid-template-columns: repeat(1, 100%);
    grid-gap: 1.5rem;
}

a {
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    height: 300px;
}

.channel {
    border: 1px solid #d3edfe;
}

.channel>h1 {
    font-size: clamp(1.3rem, 2vw, 1.8rem);
}

.channel>p {
    font-weight: 500;
    font-size: 15px;
}

.channel>img {
    border-radius: 50%;
}

.centered {
    display: flex;
    justify-content: center;
}


.search--card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.search--card--div {
    background: #00000066;
    backdrop-filter: blur(10px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
}

.stats,
.avatar {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-weight: 500;
}

.title {
    font-size: 0.85rem;
}

.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.avatar {
    font-size: 0.75rem;
}

.stats {
    font-size: 0.8rem;
}


@media (hover:hover) {
    .search--card {
        transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .channel:hover {
        border-color: #a7dffd;
    }
}


@media (min-width: 550px) {
    .search--component {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media (min-width: 800px) {
    .search--component {
        grid-template-columns: repeat(3, 1fr);
    }
}



@media (min-width: 1200px) {
    .search--component {
        grid-template-columns: repeat(4, 1fr);
        padding: 2rem;
        grid-gap: 2rem;
    }

}