nav {
    /* background: #282727; */
    background: url("https://images.unsplash.com/photo-1577979749830-f1d742b96791?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(10px);
    display: flex;
    transition: 0.3s linear;
}

.links {
    display: flex;
    flex-direction: column;
    background: #000000af;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    width: 100%;
}


.link {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    font-size: 1.1rem;
}

hr {
    border: 1px solid #42423f;
}

.active {
    background: #ffffff2e;
}


@media (hover:hover) {
    .link {
        cursor: pointer;
        transition: background 0.4s linear;
    }

    .link:hover {
        background: #ffffff2e;
    }
}

nav.hide {
    position: absolute;
    top: 60px;
    height: calc(100vh - 60px);
    left: 0;
    transform: translateX(-500px);
}


@media screen and (max-width: 700px) {
    nav {
        position: absolute;
        top: 60px;
        height: calc(100vh - 60px);
        left: 0;
        z-index: 444;
        transform: translateX(-500px);
    }

    nav.active {
        transform: translateX(0px);
    }
}