:root {
    --player-height: 550px;
    --relate-height: 150px;
}

.video--component {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
}

.videoPlayer {
    height: var(--player-height);
}


.video--text * {
    margin: 10px 0;
}

.video--component h2 {
    font-size: clamp(1rem, 1.5vw, 1.4rem);
}


.video--player {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.video--info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
}

.video--stats {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.stat {
    display: flex;
    align-items: center;
    gap: 5px;
}



/* Related Video Info */
.related--video--container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
}

.related--video {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}

.thumbnail {
    display: flex;
    border-radius: 10px;
    height: calc(var(--relate-height) - 40px);
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.679);
    backdrop-filter: blur(10px);
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 8px;
}



.related--info--container {
    width: 50%;
}

.related--info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
}

.related--info h2 {
    font-size: 0.8rem;
    color: #ffffff;
}

.related--info p,
.related--stats {
    font-size: clamp(13px, 1.2vw, 15px);
    color: #bbbbbb;
}


@media screen and (min-width: 1000px) {

    .video--component {
        display: grid;
        grid-template-areas: repeat(4, 1fr);
    }

    .video--player {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .related--video--container {
        width: 100%;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .thumbnail {
        width: 40%;
    }

    .related--info--container {
        width: 60%;
    }



}



@media screen and (min-width: 1200px) {
    .video--component {
        padding: 2rem;
        grid-template-areas: repeat(5, 1fr);
    }


    .video--player {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .related--video--container {
        grid-column-start: 4;
        grid-column-end: 5;
    }

}