/* @import url('https://fonts.cdnfonts.com/css/youtube-sans'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "./styles/globalStyles.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  /* --youtube-font: 'YouTube Sans', sans-serif;
  --youtube-font-dark: 'YouTube Sans Dark', sans-serif; */
  --montserrat-font: "Montserrat", sans-serif;
  --background: #0f0f0f;
}



body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

#root {
  height: 100dvh;
  color: #fff;
  background-color: var(--background);
  font-family: var(--montserrat-font);
}


nav {
  width: fit-content;
  max-width: 350px;
}


main {
  display: flex;
  height: calc(100% - 64px);
  overflow: hidden;
}

button,
button:active,
a:active,
a {
  -webkit-tap-highlight-color: transparent;
}